
<!-- How many SOSS to Make -->
<% @amountsoss.to_i.times do |soss| %>

<!-- Contains each SOSS with its Pallets -->
<div class="container returned-data">
  <div class="sosstest">

    <!-- Create Faker Data for SOSS -->
      <% sossnumbers = Faker::Number.number(9)%>
      <% digitnumber = Faker::Number.number(1)%>
      <% fakedsoss = "" + sossnumbers.to_s + "-" + digitnumber.to_s + "" %>

      <!-- Create BarCode for SOSS -->
  <h1 align="left">SOSS</h1>
      <br>
      <img id="<%=fakedsoss%>"/>
      <script>$("#<%=fakedsoss%>").JsBarcode("<%=fakedsoss%>",{displayValue:true});</script>
      <br><br>
  </div>

  <!-- Inside of each SOSS, how many pallets to make -->
  <% @amountpallets.to_i.times do |pallet|%>

  <!-- Contains Each Pallet with its Cartons -->
    <div class="pallettest">

      <!-- Create Faker Data for Pallet -->
      <!-- Note Faker did not have a sure fire way -->
      <!-- to generate a 3 letter only code. -->
      <!-- below is my way of generating the 3 letter code -->
      <!-- it includes lower and uppercase for more random chance -->
      <!-- it will upcase what ever it gets -->
      <%o = [('a'..'z'), ('A'..'Z')].map { |i| i.to_a }.flatten%>
      <%letters = (0...3).map { o[rand(o.length)] }.join%>
      <%numbers = Faker::Number.number(12)%>
      <% fakedpallet = "" + letters.upcase.to_s + "-" + numbers.to_s + "" %>

      <!-- Create Barcode for Pallet -->
    <h2>Pallet Number</h2>
      <br>
      <img id="<%=fakedpallet%>"/>
      <script>$("#<%=fakedpallet%>").JsBarcode("<%=fakedpallet%>",{displayValue:true});</script>
      <br><br>
    </div>

    <!-- Inside each Pallet, how many cartons -->
    <% @amountcartons.to_i.times do |carton| %>

      <!-- create cartons and barcode -->
      <div class="cartontest">
        <% fakedcarton = Faker::Number.number(9)%>
        <h3>Carton Number</h3>
        <br>
        <img id="<%=fakedcarton%>"/>
        <script>$("#<%=fakedcarton%>").JsBarcode("<%=fakedcarton%>",{displayValue:true});</script>
        <br><br>
      </div>
      <!-- close carton -->
    <%end%>
    <!-- close pallet -->
  <%end%>
  <!-- close container -->
</div>
<!-- seperator -->
<div class="spacer">
  </div>
<!-- close soss -->
<%end%>











